<h1>Cart</h1>
<h2 *ngIf="cart.length==0">No items in cart.</h2>
<table *ngIf="cart.length>0">
  <thead>
    <td>Item</td>
    <td>Price ($)</td>
    <td>Quantity</td>

  </thead>
  <tr *ngFor="let item of cart; let i = index ">
    <td>{{ item?.name }}</td>
    <td>{{ item?.price | currency }}</td>
    <td>{{ item?.quantity }}</td>
    <td><button (click)="delete(i)">Delete</button></td>
  </tr>
  <tr style="font-weight: bold;">
    <td >Total Price ($):</td>
    <td>{{ totalPrice | currency }}</td>
  </tr>

</table>
<!-- <div *ngFor="let item of cart">

  <span>{{ item?.name }}</span>
  <span>{{ item?.price }}</span>
  <span>{{ item?.quantity }}</span>
</div> -->

